<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  if STRIPE_PUBLIC_KEY
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' #{API_URL} https://api.stripe.com https://checkout.stripe.com; font-src 'self' data:; frame-src 'self' https://js.stripe.com https://hooks.stripe.com https://checkout.stripe.com; img-src 'self' #{API_URL} https://*.stripe.com data:; script-src 'self' https://js.stripe.com https://checkout.stripe.com 'unsafe-inline'">
    <script>var API_URL="#{API_URL}"</script>
  else if API_URL
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; connect-src 'self' #{API_URL}; font-src 'self' data:; frame-src 'self'; img-src 'self' #{API_URL} data:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'">
    <script>var API_URL="#{API_URL}"</script>
  else
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' data:; style-src 'self' 'unsafe-inline'">
  <link rel="stylesheet" href="/css/ocvt.css">
  <script src="/js/ocvt.js"></script>
  <script src="/js/unfetch-4.1.0.min.js"></script>
  <title>OCVT - #{title}</title>

  <!-- Generated from https://www.favicon-generator.org/ -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <div id="all">
    <div id="side">
      <a href="/">
        <img id="logo" src="/media/logo.png" alt="OCVT logo"  />
      </a>

      <a href="/">
        <div class="navButton">
          <strong>HOME</strong>
        </div>
      </a>

      <a href="/about">
        <div class="navButton">
          <strong>ABOUT US / CONTACT</strong>
        </div>
      </a>

      <a href="/register">
        <div class="navButton">
          <strong>JOIN US</strong>
        </div>
      </a>

      <a href="/trips">
        <div class="navButton">
          <strong>TRIPS</strong>
        </div>
      </a>

      <a href="/myocvt">
        <div class="navButton">
          <strong>MY ACCOUNT</strong>
        </div>
      </a>

      <a href="/dues">
        <div class="navButton">
          <strong>PAY DUES / SHOP</strong>
        </div>
      </a>

      <a href="/gallery">
        <div class="navButton">
          <strong>GALLERY</strong>
        </div>
      </a>

      <a href="/resources">
        <div class="navButton">
          <strong>RESOURCES</strong>
        </div>
      </a>

      <a href="/help">
        <div class="navButton">
          <strong>HELP - F.A.Q.</strong>
        </div>
      </a>

      if name.status == 200 && name.json.officer
        <a href="/webtools">
          <div class="navButton">
            <strong>WEBTOOLS</strong>
          </div>
        </a>

      <div id="atc">
        <a href="http://www.appalachiantrail.org/home/about-us/regional-partnerships">
          <img src="/media/atc-logo.png" alt="An ATC partner" title="We are an ATC Partner">
        </a>
      </div>
    </div><!-- end side -->
  
    <div id="title">
      <h1>Outdoor Club at Virginia Tech</h1>
    </div>
  
    <div id="content">
      <div id="miniheader">
        <h2>#{header}</h2>
        <div id="logon">
          <strong>
            if name.status === 200
              | Welcome #{name.json.firstName} | <a href="/logout">Logout</a> | <a href="/myocvt">Settings</a>
            else if name.status === 401
              | You are not logged on | <a href="/login">LogIn</a> | <a href="/register">Register</a>
            else if name.status === 403
              | Your account is deactivated! | <a href="/logout">Logout</a> | <a href="/reactivate">Reactivate</a>
            else if name.status === 404
              | You are logged in but have not registered! | <a href="/logout">Logout</a> | <a href="/register">Complete Registration</a>
            else
              | Error! Status #{name.status}
          </strong>
        </div>
      </div><!-- end miniheader -->

      block content
    </div><!-- end content -->
  </div><!-- end all -->
</body>
</html>
