extends _base

block content
  <div id="fullCenter">
    <h2 id="user">Your Personal Information</h2>
    <p>You can update your personal information here.</p>
    <form onsubmit="myocvtUpdateMyAccount('#{API_URL}', 'PATCH', false, 'updatePersonalInfo', 'Success!', this);return false">
      <table id="tripform">
        <tbody>
          <tr>
            <td valign="top">First Name:*</td>
            <td><input type="text" name="firstName" size="40" value="#{myaccount.firstName}" required></td>
          </tr>
          <tr>
            <td valign="top">Last Name:*</td>
            <td><input type="text" name="lastName" size="40" value="#{myaccount.lastName}" required></td>
          </tr>
          <tr>
            <td valign="top">Email:*</td>
            <td><input type="text" name="email" size="40" value="#{myaccount.email}" required></td>
          </tr>
          <tr>
            <td valign="top">Birth Year:*</td>
            <td>
              <select name="birthyear" required>
                -
                  const start = 1900;
                  const end = new Date().getFullYear() - 14;
                  const years = Array.from({length: end - start}, (v, k) => k + start);
                each year in years.reverse()
                  if year === myaccount.birthyear
                    <option value="#{year}" selected>#{year}</option>
                  else
                    <option value="#{year}">#{year}</option>
              </select>
            </td>
            <td>
          </tr>
          <tr>
            <td valign="top">Gender:*</td>
            <td>
              <select name="gender" required>
                each value, key in { M: 'Male', F: 'Female', O: 'Other', P: 'Prefer not to say' }
                  if key === myaccount.gender
                    <option value="#{key}" selected>#{value}</option>
                  else
                    <option value="#{key}">#{value}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td valign="top">Cell Number:</td>
            <td><input type="text" name="cellNumber" size="40" value="#{myaccount.cellNumber}"></td>
          </tr>
          <tr>
            <td valign="top">Medical Condition <span id="mild">Do you have a condition <br>we should be aware of?</span>:*</td>
            <td><input type="checkbox" name="medicalCond"></td>
          </tr>
          <tr>
            <td valign="top">Medical Condition Description<br><span id="mild">(optional)</span>:</td>
            <td><textarea name="medicalCondDesc" rows="6" cols="35" value="#{myaccount.medicalCondDesc}"></textarea></td>
          </tr>
        </tbody>
      </table>
      <p>Fields marked with "*" are required.</p>
      <button type="submit" name="user">Update Info</button>
      <p id="updatePersonalInfo"></p>
    </form>
    <br>


    <h2 id="emerg">Emergency Contact Information</h2>
    if myaccount.emergencyContactName === ''
      <p>You have no emergency contact information set. Fill out this form to add a contact.</p>
    <form onsubmit="myocvtUpdateEmergency('#{API_URL}', this);return false">
      <table id="tripform">
        <tbody>
          <tr>
            <td valign="top">Name:*</td>
            <td><input type="text" name="name" size="40" value="#{myaccount.emergencyContactName}" required></td>
          </tr>
          <tr>
            <td valign="top">Cell Number:*</td>
            <td><input type="text" name="cellNumber" size="40" value="#{myaccount.emergencyContactNumber}" required></td>
          </tr>
          <tr>
            <td valign="top">Relationship:*</td>
            <td>
              <select name="relationship" required>
                each relation in [ 'Parent', 'Guardian', 'Relative', 'Sibling', 'Fridnd', 'Other' ]
                  if relation === myaccount.emergencyContactRelationship
                    <option value="#{relation}" selected>#{relation}</option>
                  <option value="#{relation}">#{relation}</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <p>Fields marked with "*" are required.</p>
      <button type="submit" name="emerg">Create Contact</button>
      <p id="updateEmergencyInfo"></p>
    </form>
    <br>


    <h2>Member Data</h2>
    <p>
      | Member ID: #{myaccount.id}
      <br>
      | Registration Date: #{new Date(Date.parse(myaccount.createDatetime)).toDateString()}
      <br>
      - const activeStatus = { 'true': 'Active', 'false': 'Inactive' }
      | Account Status: #{activeStatus[myaccount.active]}
      <br>
      if Date.parse(myaccount.paidExpireDatetime) < Date.now()
        | Member Type: Unpaid
      else
        | Member Type: Paid
      <br>
      | Paid Membership Expiration Date: #{new Date(Date.parse(myaccount.paidExpireDatetime)).toDateString()}
    </p>
    <br>


    <h2 id="notifications">Notification Settings</h2>
    <p>
      | We have many different types of notices we will send out. You can check
      | the ones that you <strong>DO NOT</strong> want to receive. If you are
      | leaving the club please request to deactivate your account rather than
      | check all the boxes.
    </p>
    <form onsubmit="myocvtUpdateNotifications('#{API_URL}', '#{JSON.stringify(notifications)}', this);return false">
      <h3>General Announcements</h3>
      <table>
        <tbody>
          - let i = 0;
          each type in generalTypes
            - let state = ''
            if notifications[type.id]
              - state = 'checked'
            if i % 2 === 0
              <tr>
              <td><input type="checkbox" name="#{type.id}" #{state}>#{type.name}</td>
            else
              <td><input type="checkbox" name="#{type.id}" #{state}>#{type.name}</td>
              </tr>
            - i++
        </tbody>
      </table>

      <h3>Trip Announcements</h3>
      <p>
        | The <strong>only</strong> way to disable Trip Alerts is to deactivate
        | your account. These are very important alerts related to trips you
        | sign up for (kicked, cancelled, etc).
      </p>

      <table>
        <tbody>
          - let j = 0;
          each type in tripTypes
            - let state = ''
            if notifications[type.id]
              - state = 'checked'
            if type.id === 'TRIP_ALERTS'
              - state = 'checked disabled'
            if j % 2 === 0
              <tr>
              <td><input type="checkbox" name="#{type.id}" #{state}>#{type.name}</td>
            else
              <td><input type="checkbox" name="#{type.id}" #{state}>#{type.name}</td>
              </tr>
            - j++
        </tbody>
      </table>
      <br>
      <button type="submit" name="notice">Save Settings</button>
      <p id="updateNotificationsInfo"></p>
    </form>
    <br>


    <h2>Deactivate Account</h2>
    <p>
      | If you no longer wish to be a member of the Outdoor club you can
      | deactivate your account. You will no longer receive any notifications,
      | however, you can reactivate your account in the future. Inactive
      | accounts may be subject to deletion.
    </p>
    <form onsubmit="myocvtDeactivateAccount('#{API_URL}', this);return false">
      <table id="tripform">
        <tbody>
          <tr>
            <td valign="top">Please Deactivate My Account:</td>
            <td><input type="checkbox" name="deactivateAccount" required></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" name="deactivate">Deactivate</button>
    </form>
    <br>


    <h2>Delete Account</h2>
    <p>
      | If you wish to delete <strong>ALL</strong> your data associated with
      | OCVT you can delete your account. This is <strong>NOT</strong>
      | reversible.
    </p>
    <form onsubmit="myocvtDeleteAccount('#{API_URL}', this);return false">
      <table id="tripform">
        <tbody>
          <tr>
            <td valign="top">Please Delete My Account:</td>
            <td><input type="checkbox" name="deleteAccount" required></td>
          </tr>
        </tbody>
      </table>
      <button type="submit">Delete</button>
    </form>
  </div>
