extends _base

block content
  <div class="fullCenter">
    <h2 id="user">Your Personal Information</h2>
    <p>You can update your personal information here.</p>
    <form onsubmit="myocvtUpdateMyAccount('PATCH', false, 'updatePersonalInfo', 'Success!', this);return false">
      <table class="ocvtForm">
        <tbody>
          <tr>
            <td valign="top">Name:*</td>
            <td><input type="text" name="name" size="40" value="#{myaccount.name}" required></td>
          </tr>
          <tr>
            <td valign="top">Email:*</td>
            <td><input type="email" name="email" size="40" value="#{myaccount.email}" required></td>
          </tr>
          <tr>
            <td valign="top">Birth Year:*</td>
            <td>
              <select name="birthyear" required>
                <option value="">----</option>
                -
                  const start = 1900;
                  const end = new Date().getFullYear() - 14;
                  const years = Array.from({length: end - start}, (v, k) => k + start);
                each year in years.reverse()
                  if year === myaccount.birthyear
                    <option value="#{year}" selected>#{year}</option>
                  else
                    <option value="#{year}">#{year}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td valign="top">Pronouns:*</td>
            <td>
              <select name="pronouns" required>
                each value in ['prefer not to say', 'he/him', 'she/her', 'they/them']
                  if value === myaccount.pronouns
                    <option value="#{value}" selected>#{value}</option>
                  else
                    <option value="#{value}">#{value}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td valign="top">Cell Number:</td>
            <td><input type="text" name="cellNumber" size="40" value="#{myaccount.cellNumber}"></td>
          </tr>
          <tr>
            <td valign="top">Medical Condition <span class="mild">Do you have a condition <br>we should be aware of?</span>:*</td>
            if myaccount.medicalCond
              <td><input type="checkbox" name="medicalCond" checked></td>
            else
              <td><input type="checkbox" name="medicalCond"></td>
          </tr>
          <tr>
            <td valign="top">Medical Condition Description<br><span class="mild">(optional)</span>:</td>
            <td><textarea name="medicalCondDesc" rows="6" cols="35">#{myaccount.medicalCondDesc}</textarea></td>
          </tr>
          <tr>
            <td valign="top">Emergency Contact Name:*</td>
            <td><input type="text" name="ECName" size="40" value="#{myaccount.ECName}" required></td>
          </tr>
          <tr>
            <td valign="top">Emergency Contact Number:*</td>
            <td><input type="text" name="ECNumber" size="40" value="#{myaccount.ECNumber}" required></td>
          </tr>
          <tr>
            <td valign="top">Emergency Contact Relationship:*</td>
            <td>
              <select name="ECRelationship" required>
                <option value="">----</option>
                each relation in [ 'Parent', 'Guardian', 'Relative', 'Sibling', 'Friend', 'Other' ]
                  if relation === myaccount.ECRelationship
                    <option value="#{relation}" selected>#{relation}</option>
                  <option value="#{relation}">#{relation}</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
      <p>Fields marked with "*" are required.</p>
      <button type="submit" name="user">Update Info</button>
      <p id="updatePersonalInfo"></p>
    </form>
    <br>


    <h2>Member Data</h2>
    <p>
      | Member ID: #{myaccount.id}
      <br>
      | Registration Date: #{new Date(Date.parse(myaccount.createDatetime)).toDateString()}
      <br>
      - const activeStatus = { 'true': 'Active', 'false': 'Inactive' }
      | Account Status: #{activeStatus[myaccount.active]}
      <br>
      if Date.parse(myaccount.paidExpireDatetime) < Date.now()
        | Member Type: Unpaid
      else
        | Member Type: Paid
      <br>
      | Paid Membership Expiration Date: #{new Date(Date.parse(myaccount.paidExpireDatetime)).toDateString()}
    </p>
    <br>


    <h2 id="notifications">Notification Settings</h2>
    <p>
      | We have many different types of notices we will send out. Please deselect any
      | notifications you do not wish to receive.
    </p>
    <form onsubmit="myocvtUpdateNotifications('#{JSON.stringify(notifications)}', this);return false">
      <h3>General Announcements</h3>
      <table>
        <tbody>
          - let i = 0;
          each type in generalTypes
            - let state = ''
            if notifications[type.id]
              - state = 'checked'
            if i % 2 === 0
              <tr>
              <td><input type="checkbox" name="#{type.id}" #{state}>#{type.name}</td>
            else
              <td><input type="checkbox" name="#{type.id}" #{state}>#{type.name}</td>
              </tr>
            - i++
        </tbody>
      </table>

      <h3>Trip Announcements</h3>
      <p>
        | Important trip alerts regarding you status on trips may not be turned off. These are very
        | important alerts related to trips you sign up for (kicked, cancelled, etc).
      </p>

      <table>
        <tbody>
          - let j = 0;
          each type in tripTypes
            - let state = ''
            if notifications[type.id]
              - state = 'checked'
            if j % 2 === 0
              <tr>
              <td><input type="checkbox" name="#{type.id}" #{state}>#{type.name}</td>
            else
              <td><input type="checkbox" name="#{type.id}" #{state}>#{type.name}</td>
              </tr>
            - j++
          if j % 2 == 1
            <td></td>
            </tr>
        </tbody>
      </table>
      <br>
      <button type="submit" name="notice">Save Settings</button>
      <p id="updateNotificationsInfo"></p>
    </form>
    <br>


    <h2>Deactivate Account</h2>
    <p>
      | If you no longer wish to be a member of the Outdoor club you can
      | deactivate your account. You will no longer receive any notifications,
      | however, you can reactivate your account in the future. Inactive
      | accounts may be subject to deletion.
    </p>
    <form onsubmit="myocvtDeactivateAccount(this);return false">
      <table class="ocvtForm">
        <tbody>
          <tr>
            <td valign="top">Please Deactivate My Account:</td>
            <td><input type="checkbox" name="deactivateAccount" required></td>
          </tr>
        </tbody>
      </table>
      <button type="submit" name="deactivate">Deactivate</button>
    </form>
    <br>


    <h2>Delete Account</h2>
    <p>
      | If you wish to delete <strong>ALL</strong> your data associated with
      | OCVT you can delete your account. This is <strong>NOT</strong>
      | reversible.
    </p>
    <form onsubmit="myocvtDeleteAccount(this);return false">
      <table class="ocvtForm">
        <tbody>
          <tr>
            <td valign="top">Please Delete My Account:</td>
            <td><input type="checkbox" name="deleteAccount" required></td>
          </tr>
        </tbody>
      </table>
      <button type="submit">Delete</button>
    </form>
  </div>
