<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/ocvt.css">
  <title>View Emails!</title>
</head>
<body class="webtools">
  <a href="/webtools">&lt;-- Back to Webtools Home</a>

  <h2>All Emails</h2>
  <p>To Id = 8000000 --&gt; Sent to group of people based on trip id + notification type</p>
  <p>Trip Id = 3000 --&gt; General announcement not about any specific trip</p>
  <p>Reply To Id = 8000000 --&gt; Indicates noreply address.</p>

  <table cellpadding="2" cellspacing="0">
    <tr>
      <th>Created Date&nbsp;</th>
      <th>Sent Date&nbsp;</th>
      <th>Notification Type Id&nbsp;</th>
      <th>Trip Id&nbsp;</th>
      <th>To Id&nbsp;</th>
      <th>Reply To Id&nbsp;</th>
      <th>Subject</th>
    </tr>

    - let i = 0
    each email in emails
      if i % 2 === 0
        <tr bgcolor="#CCCCCC">
      else
        <tr>
      - i += 1

      <td>#{email.createDatetime}</td>
      if email.sentDatetime.Valid
        <td>#{email.sentDatetime.String}</td>
      else
        <td>Unsent</td>
      <td>#{email.notificationTypeId}</td>
      if email.tripId
        <td>#{email.tripId}</td>
      else
        <td>0</td>
      if email.toId
        <td>#{email.toId}</td>
      else
        <td>0</td>
      if email.replyToId
        <td>#{email.replyToId}</td>
      else
        <td>0</td>
      <td>#{email.subject}</td>
      </tr>
  </table>
  <h3>Total Emails: #{i}</h3>
</body>
</html>
