<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/ocvt.css">
  <script>const API_URL="#{API_URL}"</script>
  <script type="text/javascript" src="/js/ocvt_webtools.js"></script>
  <title>Delete News!</title>
</head>
<body class="webtools">
  <a href="/webtools">&lt;-- Back to Webtools Home</a>

  <h2>Delete News / Announcement</h2>

  <table cellpadding="2" cellspacing="0">
    <tr>
      <th></th>
      <th>News Id&nbsp;&nbsp;</th>
      <th>Publish Date&nbsp;&nbsp;</th>
      <th>News title</th>
    </tr>

    - let i = 0
    each newsItem in news
      if i % 2 === 0
        <tr bgcolor="#CCCCCC">
      else
        <tr>
      - i += 1

      <td><button onclick="webtoolsDeleteNews('#{newsItem.id}')">Unpublish</button></td>
      <td>#{newsItem.id}</td>
      <td>#{newsItem.createDatetime}</td>
      <td>#{newsItem.title}</td>
      </tr>
  </table>
</body>
</html>
