<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/ocvt.css">
  <script>const API_URL="#{API_URL}"</script>
  <script src="/js/ocvt_webtools.js"></script>
  <title>Officers!</title>
</head>
<body class="webtools">
  <a href="/webtools">&lt;-- Back to Webtools Home</a>

  <h2>Officers</h2>

  <h3>Add new officer</h3>
  <form onsubmit="webtoolsAddOfficer(this);return false">
    <table>
      <tr>
        <td>Member #:</td>
        <td><input type="number" name="memberId"></td>
      </tr>
      <tr>
        <td>Expiration (YYYY-MM-DD):</td>
        <td><input type="text" name="expireDatetime"></td>
      </tr>
      <tr>
        <td>Position:</td>
        <td><input type="text" name="position"></td>
      </tr>
      <tr>
        <td>Security (higher = more permissions):</td>
        <td><input type="number" name="security"></td>
      </tr>
    </table>
    <button type="submit">Submit</button>
  </form>
  <br>

  <table cellpadding="2" cellspacing="0">
    <tr>
      <th>&nbsp;</th>
      <th>Member #&nbsp;</th>
      <th>Name&nbsp;</th>
      <th>Email&nbsp;</th>
      <th>Cell Number&nbsp;</th>
      <th>Position&nbsp;</th>
      <th>Security (higher = more permissions)&nbsp;</th>
      <th>Expiration</th>
    </tr>

    - let i = 0
    each oicer in oicers
      if i % 2 === 0
        <tr bgcolor="#CCCCCC">
      else
        <tr>
      - i += 1

      <td><button onclick="webtoolsDeleteOfficer('#{oicer.memberId}')">Remove Officer</button></td>
      <td>#{oicer.memberId}</td>
      <td>#{oicer.name}</td>
      <td>#{oicer.email}</td>
      <td>#{oicer.cellNumber}</td>
      <td>#{oicer.position}</td>
      <td>#{oicer.security}</td>
      <td>#{oicer.date}</td>
      </tr>
  </table>
</body>
</html>
