<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/ocvt.css">
  <meta http-equiv="Cache-Control" content="no-store">
  <script type="text/javascript" src="/js/ocvt_webtools.js"></script>
  <title>Manual Orders!</title>
</head>
<body class="webtools">
  <a href="/webtools">&lt;-- Back to Webtools Home</a>

  <h2>Manual Order Entry</h2>

  <h3>Select Order Type</h3>
  | Manual Order for Existing User <input type="radio" name="manualOrderEntry" onclick="webtoolsOrderToggle(this.value)" value="manualOrder" checked>&nbsp;&nbsp;
  | Generate Code for Non-Existent User <input type="radio" name="manualOrderEntry" onclick="webtoolsOrderToggle(this.value)" value="generateCode">
  <br>
  <br>

  <div id="generateCode">
    <h3>Generate Store Code</h3>
    <form onsubmit="webtoolsGenerateCode(this);return false">
      <table>
        <tr>
          <td>Store Item:</td>
          <td>
            <input type="radio" name="storeItemId" value="dues"></input> Basic Dues - $20.
            <br>
            <input type="radio" name="storeItemId" value="duesShirt"></input> Dues + Shirt - $30.
            <br>
            <input type="radio" name="storeItemId" value="duesSpecial" checked></input> Freshman Special - $65.
            <br>
            <input type="radio" name="storeItemId" value="shirt"></input> Shirt - $20.
          </td>
        </tr>
        <tr>
          <td>Item Count:</td>
          <td><input type="number" name="storeItemCount" value="1"></input></td>
        </tr>
        <tr>
          <td>Completed?</td>
          <td><input type="checkbox" name="completed"></td>
        </tr>
        <tr>
          <td>Note:</td>
          <td><textarea name="note" rows="4" cols="50"></textarea></td>
        </tr>
      </table>
      <button type="submit">Generate Code</button>
      <p id="generateCodeResult"></p>
    </form>
  </div>



  <div id="manualOrder">
    <h3>Order Details</h3>
    <form onsubmit="webtoolsSubmitOrder(this);return false">
      <table>
        <tr>
          <td>Member Id:</td>
          <td><input type="number" id="manualOrderMemberId" name="memberId"></td>
        </tr>
        <tr>
          <td>Store Item:</td>
          <td>
            <input type="radio" name="storeItemId" value="dues"></input> Basic Dues - $20.
            <br>
            <input type="radio" name="storeItemId" value="duesShirt"></input> Dues + Shirt - $30.
            <br>
            <input type="radio" name="storeItemId" value="duesSpecial" checked></input> Freshman Special - $65.
            <br>
            <input type="radio" name="storeItemId" value="shirt"></input> Shirt - $20.
          </td>
        </tr>
        <tr>
          <td>Item Count:</td>
          <td><input type="number" name="storeItemCount" value="1"></input></td>
        </tr>
        <tr>
          <td>Completed?</td>
          <td><input type="checkbox" name="completed"></td>
        </tr>
        <tr>
          <td>Note:</td>
          <td><textarea name="note" rows="4" cols="50"></textarea></td>
        </tr>
      </table>
      <button type="submit">Submit</button>
      <p id="manualOrderResult"></p>
    </form>
    <br>


    <strong>Filter Members: </strong> <input type="text" id="memberFilter" onkeyup="sortMembers()">

    <table id="filterMembers" cellpadding="2" cellspacing="0">
      <tr>
        <th></th>
        <th>Member #&nbsp;</th>
        <th>Active?&nbsp;</th>
        <th>First Name&nbsp;</th>
        <th>Last Name&nbsp;</th>
        <th>Email&nbsp;</th>
        <th>Membership Expiration</th>
      </tr>

      - let i = 0
      each member in members
        if i % 2 === 0
          <tr bgcolor="#CCCCCC">
        else
          <tr>
        - i += 1
        <td><button onclick="webtoolsOrderSelectMember('#{member.id}')">Select Member</button></td>
        <td>#{member.id}</td>
        if member.active
          <td>Yes</td>
        else
          <td>No</td>
        <td>#{member.firstName}</td>
        <td>#{member.lastName}</td>
        <td>#{member.email}</td>
        <td>#{member.paidExpireDatetime}</td>
        </tr>
    </table>

    <script>sortMembers();</script>
  </div>
</html
