if typeof i === 'undefined' || i % 2 === 0
  <table class="tripPerson" border="0" bgcolor="#D6EFD7">
else
  <table class="tripPerson" border="0" bgcolor="#FFFFFF">
<tbody>
  <tr>
    <td><strong style="color:#475278">Signup Date: </strong>#{signup.date}, #{signup.time}</td>
    if signup.cellNumber
      <td><strong style="color:#475278">Phone:</strong> #{signup.cellNumber}</td>
    else
      <td></td>
    <td colspan="5" width="300px" align="center">
      if adminView
        if (leaderSection && trip.memberId != signup.memberId) || forceSection || attendSection || waitlistSection
          <form style="display:inline">
            <input type="button" value="Boot" onclick="tripSignupStatusBoot('#{signup.tripId}', '#{signup.id}')">
          </form>
        if attendSection || waitlistSection
          <form style="display:inline">
            <input type="button" value="Force Add" onclick="tripSignupStatusGeneric('#{signup.tripId}', '#{signup.id}', 'forceadd')">
          </form>
          <form style="display:inline">
            <input type="button" value="Promote to leader" onclick="tripSignupStatusGeneric('#{signup.tripId}', '#{signup.id}', 'tripleader/true')">
          </form>
    </td>
    <td></td>
  </tr>
  <tr>
    <td colspan="2" width="340px"><strong style=" color:#475278">Name: </strong>#{signup.name}</td>
    <td rowspan="2" width="30px">
      <span class="tooltip" title="">
        if signup.paidMember
          <img class="tripPersonimg" src="/media/icon/paid-bw.png" alt="Paid icon">
          <span class="custom info">
            <img class="tooltipimg" src="/media/icon/info.png" alt="Info icon" width="48" height="48">
            <em>Attendee is paid</em>
          </span>
        else
          <img class="tripPersonimg" src="/media/icon/unpaid-bw.png" alt="Unpaid icon">
          <span class="custom info">
            <img class="tooltipimg" src="/media/icon/info.png" alt="Info icon" width="48" height="48">
            <em>Attendee is unpaid</em>
          </span>
      </span>
    </td>
    <td rowspan="2" width="30px">
      <span class="tooltip" title="">
        if signup.pronouns === 'he/him'
          <img class="tripPersonimg" src="/media/icon/male-bw.png" alt="Male pronouns icon">
          <span class="custom info">
            <img class="tooltipimg" src="/media/icon/info.png" alt="Info icon" width="48" height="48">
            <em>Pronouns are he/him</em>
          </span>
        else if signup.pronouns === 'she/her'
          <img class="tripPersonimg" src="/media/icon/female-bw.png" alt="Female pronouns icon">
          <span class="custom info">
            <img class="tooltipimg" src="/media/icon/info.png" alt="Info icon" width="48" height="48">
            <em>Pronouns are she/her</em>
          </span>
        else
          <img class="tripPersonimg" src="/media/icon/other-bw.png" alt="Unspecified pronouns icon">
          <span class="custom info">
            <img class="tooltipimg" src="/media/icon/info.png" alt="Info icon" width="48" height="48">
            if signup.pronouns == 'prefer not to say'
              <em>Pronouns are unspecified</em>
            else
              <em>Pronouns are they/them</em>
          </span>
      </span>
    </td>
    <td rowspan="2" width="59px">
      if signup.driver
        <span class="tooltip" title="">
          <img class="tripPersonimg" src="/media/icon/car-bw.png" alt="Car icon"><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#{signup.CarCapacityTotal}
          <span class="custom info"><img class="tooltipimg" src="/media/icon/info.png" alt="Info icon" width="48" height="48">
            <em>Attendee can drive</em>
          </span>
        </span>
    </td>
    <td rowspan="2" width="29px">
      if signup.medicalCond
        <span class="tooltip" title="">
          <img class="tripPersonimg" src="/media/icon/caduceus-bw.png" alt="Medical Condition icon">
          <span class="custom info"><img class="tooltipimg" src="/media/icon/info.png" alt="Info icon" width="48" height="48">
            <em>Attendee Has a Medical Condition:</em>
            if signup.medicalCondDesc
              | #{signup.medicalCondDesc}
            else
              | No details provided by member. Please ask them in person.
          </span>
        </span>
    </td>
    <td rowspan="2" width="36px">
      if signup.notes
        <span class="tooltip" title="">
          <img class="tripPersonimg" src="/media/icon/bag-bw.png" alt="Bag icon">
          <span class="custom info"><img class="tooltipimg" src="/media/icon/info.png" alt="Info icon" width="48" height="48">
            <em>Attendee Is Bringing Something:</em> #{signup.notes}
          </span>
        </span>
    </td>
    <td rowspan="2" width="52px">
      if signup.pet
        <span class="tooltip" title="">
        <img class="tripPersonimg" src="/media/icon/pet-bw.png">
          <span class="custom info"><img class="tooltipimg" src="/media/icon/info.png" alt="Info icon" height="48" width="48">
            <em>Attendee Is Bringing a Pet</em>
          </span>
        </span>
    </td>
  </tr>
  <tr>
    <td colspan="2" width="340px"><strong style="color:#475278">Email:</strong>#{signup.email}</td>
  </tr>
</tbody>
</table>
