<tr>
  <td>#{signup.firstName} #{signup.lastName}</td>

  <td>#{signup.cellNumber}</td>

  <td>#{signup.pronouns}</td>

  if signup.medicalCond
    <td>Yes</td>
  else
    <td>No</td>

  if signup.medicalCondDesc
    <td>#{signup.medicalCondDesc}</td>
  else
    <td></td>

  if signup.driver
    <td>Yes</td>
  else
    <td>No</td>

  if signup.pet
    <td>Yes</td>
  else
    <td>No</td>

  if signup.notes
    <td>#{signup.notes}</td>
  else
    <td>None</td>

  if signup.ECName
    <td>#{signup.ECName}</td>
  else
    <td>None</td>

  if signup.ECNumber
    <td>#{signup.ECNumber}</td>
  else
    <td>None</td>

  if signup.ECRelationship
    <td>#{signup.ECRelationship}</td>
  else
    <td>None</td>
</tr>
