<h3 class="smallHeader"><a href="/trips/#{trip.id}">#{trip.name}</a></h3>
| #{trip.date} <strong>Trip Type: </strong> #{trip.tripTypeName} &nbsp;&nbsp;&nbsp;
<a href="/trips/#{trip.id}">Full Details</a>&nbsp;&nbsp;&nbsp;
if trip.attendanceInfo
  | Attendance: #{trip.attendanceInfo.attend}/#{trip.maxPeople} +#{trip.attendanceInfo.force} <a href="/trips/#{trip.id}/admin">Manage Trip</a>

<p>#{trip.summary}</p>
