extends ../_base

block content
  <div id="rightSideLarge">
    include include/trip_summary
  </div>

  <div id="leftSideSmall">
    <h3>Navigation</h3>
    <ul>
      <li><a href="/trips">Main Trips Page</a></li>
      <li><a href="/trips/#{trip.id}">View Trip Details</a></li>
      <li><a href="/trips/#{trip.id}/mysignup">View My Signup Info</a></li>
    </ul>

    <h3>Manage This Trip</h3>
    <ul>
      <li><a href="/trips/#{trip.id}/admin/print">Printable Roster</a></li>
    </ul>
  </div>
  
  <br>
  <div class="fullCenter">
    if trip.cancel
      <h2>Your trip has been canceled</h2>
      <p>
        | This trip is canceled and can no longer be altered. Please create a new trip, thanks.
        <br>
        | The trip roster is still displayed for reference.
      </p>
    else if !trip.publish
      <h2>Your Trip Has Not Been Published Yet!</h2>
      <p>
        | Your trip has been saved but not made public yet. Please review your trip information and
        | when you are ready to announce your trip select the publish option below. After publishing
        | your trip will be announced and appear on the trips  page for memebers to sign up for.
      </p>
      <br>
      <div align="center">
        <form onsubmit="tripsPublishTrip('#{trip.id}');return false"><button type="submit">Publish!</button></form>
      </div>

    <h2>Trip Roster</h2>
    <table>
      <tbody>
        <tr>
          <td style="border-bottom:1px solid black;"><strong>Total/Maximum:</strong></td>
          <td style="border-bottom:1px solid black;">#{signups.attend.length}/#{trip.maxPeople} +#{signups.force.length + signups.leader.length}</td>
        </tr>
        <tr>
          <td><strong>Car Seats Available:</strong></td>
          <td>#{carSeats}</td>
        </tr>
      </tbody>
    </table>

    - adminView = true
    <h3 class="smallHeader">Trip Leaders (count towards force added)</h3>
    <br>
    - leaderSection = true
    - i = 0
    for signup in signups.leader
      include include/signup_info
      - i += 1
    <br>
    - leaderSection = false

    if signups.force.length !== 0
      <h3 class="smallHeader">Force Added People</h3>
      <p>
        | These attendees are forced added to the trip. They bypass the normal list and do not count
        | towards the maximum person limit.
      </p>
      <br>
      - forceSection = true
      - i = 0
      for signup in signups.force
        include include/signup_info
        - i += 1
      <br>
      - forceSection = false

    if signups.attend.length !== 0
      <h3 class="smallHeader">Normal Attending People</h3>
      - attendSection = true
      - i = 0
      for signup in signups.attend
        include include/signup_info
        - i += 1
      <br>
      - attendSection = false

    if signups.wait.length !== 0
      <h3 class="smallHeader">Waiting List</h3>
      - waitlistSection = true
      - i = 0
      for signup in signups.wait
        include include/signup_info
        - i += 1
      <br>
      - waitlistSection = false

    if signups.cancel.length !== 0
      <h3 class="smallHeader">Canceled Users</h3>
      - i = 0
      for signup in signups.cancel
        include include/signup_info
        - i += 1
      <br>

    if signups.boot.length !== 0
      <h3 class="smallHeader">Booted Users</h3>
      - i = 0
      for signup in signups.boot
        include include/signup_info
        - i += 1
      <br>

    if !trip.cancel
      <h2>Upload a Trip Photo!</h2>
      <form action="#{API_URL}/trips/#{trip.id}/admin/mainphoto" method="post" enctype="multipart/form-data">
        <input type="file" name="photoFile">
        <button type="submit">Upload</button>
      </form>
      <p><a href="/trips/#{trip.id}">View Trip Details</a> or <a href="/trips/#{trip.id}/photos">View Trip Photos</a> to view the photo.</p>

      <h2>Message Attendees</h2>
      <br>
      <h3 class="smallHeader">Send Reminder</h3>
      <p>Click below to send a trip reminder to all trip attendees. An automated trip reminder is also sent 1 day before the trip.</p>
      <br>
      <div align="center">
        <form onsubmit="tripsSendReminder('#{trip.id}');return false"><button type="submit">Send Reminder</button></form>
      </div>

      <h3 class="smallHeader">Custom Message</h3>
      <form onsubmit="tripsSendMessage('#{trip.id}', this);return false">
        <table class="ocvtForm">
          <tbody>
            <tr>
              <td valign="top"><strong>Send Message To</strong>:*</td>
              <td>
                <select name="notificationTypeId">
                  <option value="TRIP_MESSAGE_ATTEND">Attendees</option>
                  <option value="TRIP_MESSAGE_WAIT">Waiting List Only</option>
                  <option value="TRIP_MESSAGE_NOTIFY">Both Waiting and Attending</option>
                </select>
              </td>
            </tr>
            <tr>
              <td valign="top"><strong>Subject</strong>:*</td>
              <td><input type="text" name="subject" size="50" value="" required></td>
            </tr>
            <tr>
              <td valign="top"><strong>Message To Send</strong>:*</td>
              <td><textarea name="body" rows="4" cols="50" required></textarea></td>
            </tr>
          </tbody>
        </table>
        <p>Fields marked with "*" are required.</p>
        <br>
        <button type="submit" name="message">Send Custom Message</button>
        <p id="sendCustomMessage"></p>
      </form>
      <br>

    if !trip.cancel
      <h2>Cancel Trip</h2>
      <p>
        | Click below to cancel this trip. All attendees and those on the waiting list will be notified
        | of the cancellation. This action is <strong>irreversible</strong>!
      </p>
      <br>
      <div align="center">
        <form onsubmit="tripsCancelTrip('#{trip.id}');return false"><button type="submit">Cancel</button></form>
      </div>
  </div>
