extends ../_base

block content
  <div id="fullCenter">
    <h2>Recent Trips</h2>
      each trip in pastTrips
        <h3 class="smallHeader">
          <a href="/trips/#{trip.id}">#{trip.name}</a>
        </h3>
        | #{trip.date}
        | &nbsp;&nbsp;&nbsp;
        <strong>Trip Type: </strong> #{trip.tripTypeName}
        | &nbsp;&nbsp;&nbsp;
        <a href="/trips/#{trip.id}">Full Details</a>
        if trip.admin
          <span style="color:navy">
            | &nbsp;|&nbsp;
            | Attendance: #{trip.attending} / #{trip.maxPeople} +
            | #{trip.forceAdded}.
            | <a href="/trips/#{trip.id}/admin">Trip Admin</a>
          </span>
        <p>#{trip.summary}</p>
      else
        <p>No Recent Trips</p>

    <br>
    if pastTrips.length > 0
      <center><a href="/trips/archive/#{pastTrips[pastTrips.length - 1].id}/20">View More Past Trips</a></center>
  </div>
