extends ../_base

block content
  <div id="fullCenter">
    <h2>#{trip.name}</h2>
    | #{trip.date} | #{trip.startTime} - #{trip.endTime} &nbsp;&nbsp;&nbsp; <strong>Trip Type: </strong> #{trip.tripTypeName}
    <br>
    <br>
    #{trip.summary}

    <h2>Signup For This OCVT Trip</h2>
    <form onsubmit="tripsJoinTrip('#{API_URL}', '#{trip.id}', this);return false">
      <table id="tripform">
        <tbody>
          <tr>
            <td valign="top"><strong>Trip Waiver</strong>: I have read and agree <br>to the <a href="/tripagreement">trip waiver terms</a>.*</td>
            <td><input type="checkbox" required></td>
          </tr>
          <tr>
            <td valign="top"><strong>Short notice</strong>: If you end up on the <br> waiting list do you still wish to be <br> moved up if less than 48 hours remain?*</td>
            <td><input type="checkbox" name="shortNotice"></td>
          </tr>
          <tr>
            <td valign="top">Are you driving?</td>
            <td><input type="checkbox" name="driver"></td>
          </tr>
          <tr>
            <td>If you are driving,<br>are you willing to carpool?</td>
            <td><input type="checkbox" name="canCarpool"></td>
          </tr>
          <tr>
            <td valign="top">If you are driving, how many people<br>(including yourself) can you drive?</td>
            <td><input type="number" name="carCapacity" value="0"></td>
          </tr>
          <tr>
            <td valign="top">Are you bringing anything?<br><span id="mild">Notes for yourself and trip leaders</span></td>
            <td><textarea name="notes" rows="4" cols="50"></textarea>
          </tr>
          if trip.petsAllowed
            <tr>
              <td valign="top">Are you bringing a pet?</td>
              <td><input type="checkbox" name="pet"></td>
            </tr>
        </tbody>
      </table>
      <p>Fields marked with "*" are required.</p>
      <button type="submit">Submit</button>
    </form>
  </div>
