extends ../_base

block content
  <div id="fullCenter">
    <a href="/trips">&lt;--Return to Main Trips Page</a>
    <br>
    <br>

    <h2>#{trip.name}</h2>
    | #{trip.date} | #{trip.startTime} - #{trip.endTime}
    | &nbsp;&nbsp;&nbsp;
    <strong>Trip Type: </strong> #{trip.tripTypeName}
    | &nbsp;&nbsp;&nbsp;
    <p>#{trip.summary}</p>

    if status.attendingCode === 'FORCE'
      <h2>My Attendance Information <span style="color:gray"> - Attending: Force Added</span></h2>
    else if status.attendingCode === 'ATTEND'
      <h2>My Attendance Information <span style="color:green"> - Attending</span></h2>
    else if status.attendingCode === 'WAIT'
      <h2>My Attendance Information <span style="color:red"> - On Waiting List</span></h2>
    else
      <h2>My Attendance Information <span style="color:black"> - Canceled</span></h2>

    include signup_info.pug
    <br>

    <h2>Cancel My Trip Attendance</h2>
    if status.tripCreator
      <p>You cannot cancel your attendance because you are the trip creator. To cancel the trip, <a href="/trips/#{trip.id}/admin">go the the trip admin page</a></p>
    else
      <p>Click below to cancel your attendance on this trip. You will be removed from the attending roster or the waiting list.</p>
      <div align="center">
        <form onsubmit="tripsCancelSignup('#{API_URL}', #{trip.id});return false">
          <button type="submit">Cancel</button>
        </form>
      </div>
  </div>
