extends ../_base

block content
  <div id="rightSideLarge">
    <h2>#{trip.name}</h2>
    <h3>Trip Leader - #{trip.memberName}</h3>
    if mainphoto.length > 0
      <img alt="#{mainphoto[0].name}" src="#{mainphoto[0].url}" width="100%">
    else if mystatus.tripLeader
      <p>Visit the <a href="/trips/#{trip.id}/admin">admin page</a> to upload a trip photo.</p>
  </div>
        
  <div id="leftSideSmall">
    <h3>Navigation</h3>
    <ul>
      <li><a href="/trips">Main Trips Page</a></li>
      if mystatus.signedUp
        <li><a href="/trips/#{trip.id}/mysignup">View My Signup Info</a></li>
      <li><a href="/trips/#{trip.id}/photos">Trip Photos</a></li>
    </ul>

    if mystatus.tripLeader
      <h3>Manage This Trip</h3>
      <ul>
        <li><a href="/trips/#{trip.id}/admin">Manage Trip</a></li>
      </ul>
  </div>

  <div class="fullCenter">
    <table width="100%">
      <tbody>
        <tr>
          <td><strong>Trip Date:</strong></td>
          <td>#{trip.date}<br>#{trip.startTime} - #{trip.endTime}</td>
          <td><strong>Max Attendees:</strong></td>
          <td>#{trip.maxPeople} People</td> 
        </tr>
        
        <tr>
          <td><strong>Trip Type:</strong></td>
          <td>#{trip.tripTypeName}</td>
          <td><strong>Pets:</strong></td>
          if trip.petsAllowed
            <td><span style="color:green">Pets OK</span></td>
          else
            <td><span style="color:red">Pets NOT Allowed</span></td>
        </tr>
        
        <tr>
          <td><strong>Attendee Restrictions:</strong></td>
          if trip.membersOnly
            <td><span style="color:red">Members Only</span></td>
          else
            <td><span style="color:green">Open To Everyone</span></td>
          <td><strong>Distance/Difficulty:</strong></td>
          -
            const diffs = [{color: 'black', desc: 'None'}, {color: 'black', desc: 'Trivial'},
            {color: 'green', desc: 'Easy'}, {color: 'orange', desc: 'Moderate'},
            {color: 'red', desc: 'Strenuous'}, {color: 'red', desc: 'Very Strenuous+'}];
          <td>#{trip.distance} Miles - <span style="color:#{diffs[trip.difficulty].color}">#{diffs[trip.difficulty].desc}</span></td>
        </tr>
        
        <tr>
          <td><strong>Driving Required:</strong></td>
          if trip.drivingRequired
            <td>Yes</td>
          else
            <td>No</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>

    <h3 class="smallHeader">Description</h3>
    <p>#{trip.description}</p>
    <br>

    if trip.location
      <h3 class="smallHeader">Location</h3>
      <p>#{trip.location}</p>
      <br>

    if trip.locationDirections
      <h3 class="smallHeader">Driving Directions</h3>
      <p>#{trip.locationDirections}</p>
      <br>

    if trip.meetupLocation
      <h3 class="smallHeader">Meetup Location</h3>
      if mystatus.signedUp
        <p>#{trip.meetupLocation}</p>
      else
        <h3>You must be signed up for this trip to view this.</h3>
      <br>

    if trip.instructions
      <h3 class="smallHeader">What You Should Bring</h3>
      <p>#{trip.instructions}</p>
      <br>

    if trip.petsDescription
      <h3 class="smallHeader">Pet Instructions/Info</h3>
      <p>#{trip.petsDescription}</p>
      <br>

    <h3 class="smallHeader">Send Message to Trip Leader</h3>
    if name.status === 200
      <p>Have a question or a concern about this trip? Send the trip leader a message.</p>
      <form><!-- TODO -->
        <table class="ocvtForm">
          <tbody>
            <tr>
              <td valign="top"><b>Message To Send</b></td>
              <td><textarea name="messageBody" rows="4" cols="50" required></textarea></td>
            </tr>
          </tbody>
        </table>
        <br>
        <button type="submit" name="message">Send Message</button>
      </form>
    else
      <h3>You must be registered to use this feature.</h3><hr>

    if trip.cancel
      <h1>This trip is canceled</h1>
    else if trip.pastSignupPeriod
      <h1>The signup period for this trip is over</h1>
    else if name.status !== 200
      <h1>You must be registered to signup for trips.</h1>
    else if mystatus.signedUp
      <h2>You are already signed up for this trip. View your information <a href="/trips/#{trip.id}/mysignup">here</a>.</h2>
    else
      <h1><a href="/trips/#{trip.id}/jointrip">Signup For This Trip ---></a></h1>
  </div>
